"*":
  "advanced-open-file": {}
  "atom-beautify":
    general:
      _analyticsUserId: "ef96123c-6419-4c66-838d-e73329ae9c4f"
  autosave:
    enabled: true
  "autosave-plus":
    enabled: true
  core:
    customFileTypes:
      "source.python": [
        "BUILD"
        "build_defs"
      ]
    packagesWithKeymapsDisabled: [
      "sort-lines"
      "git-time-machine"
      "split-diff"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "ed07e8f5-587b-e6f1-39e5-bdef069f8693"
  "file-types":
    $caseSensitive: true
    $debug: true
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "flex-tool-bar": {}
  "fuzzy-finder": {}
  "js-hyperclick": {}
  jumpy:
    highContrast: true
    matchPattern: "([A-Z]+([0-9a-z])*)|[<a-z0-9]{2,}"
  linter:
    errorPanelHeight: 41
  "linter-eslint":
    useGlobalEslint: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
    scrollAnimation: true
  navigate: {}
  nuclide:
    remoteProjectsConfig: []
  "nuclide-home":
    showHome: true
  "package-sync":
    forceOverwrite: true
  pigments:
    groupPaletteColors: "by file"
    mergeColorDuplicates: true
    sortPaletteColors: "by name"
  "pinned-tabs":
    closeUnpinned: false
  "spell-check":
    grammars: [
      "source.js"
    ]
  "tool-bar":
    position: "Left"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 10
".python.source":
  editor:
    autoIndentOnPaste: true
