packages: [
  "autosave-plus"
  "block-travel"
  "enhanced-tabs"
  "file-icons"
  "flex-tool-bar"
  "git-plus"
  "highlight-selected"
  "hyperclick"
  "incremental-search"
  "js-hyperclick"
  "jumpy"
  "last-cursor-position"
  "linter"
  "linter-eslint"
  "linter-scss-lint"
  "merge-conflicts"
  "open-recent"
  "package-sync"
  "pigments"
  "please-hyperclick"
  "project-manager"
  "split-diff"
  "tasks"
  "terminal-panel"
  "tool-bar"
]
