packages: [
  "atom-beautify"
  "autocomplete-js-import"
  "autocomplete-please"
  "autosave-plus"
  "block-travel"
  "code-peek"
  "docblockr"
  "enhanced-tabs"
  "expose"
  "file-icons"
  "flex-tool-bar"
  "git-blame"
  "git-plus"
  "git-time-machine"
  "highlight-selected"
  "hyperclick"
  "incremental-search"
  "js-hyperclick"
  "jumpy"
  "language-babel"
  "language-please"
  "last-cursor-position"
  "linter"
  "linter-eslint"
  "linter-scss-lint"
  "merge-conflicts"
  "minimap"
  "minimap-autohide"
  "minimap-highlight-selected"
  "open-recent"
  "package-sync"
  "pigments"
  "pinned-tabs"
  "please-hyperclick"
  "project-manager"
  "sort-lines"
  "split-diff"
  "synced-sidebar"
  "tasks"
  "terminal-panel"
  "tool-bar"
]
