core:
  title: "Core"
  paths: [
    "/Users/benjaminhughes/code-repo/core"
  ]
onboarding:
  title: "Onboarding"
  paths: [
    "/Users/benjaminhughes/code-repo/core/onboarding"
    "/Users/benjaminhughes/code-repo/core/common/js"
  ]
killik:
  title: "Killik"
  paths: [
    "/Users/benjaminhughes/code-repo/core/killik"
    "/Users/benjaminhughes/code-repo/core/common/js"
  ]
vaultadminapp:
  title: "Vault Admin App"
  paths: [
    "/Users/benjaminhughes/code-repo/core/vault/admin_app"
    "/Users/benjaminhughes/code-repo/core/vault/common"
    "/Users/benjaminhughes/code-repo/core/common/js"
    "/Users/benjaminhughes/code-repo/core/third_party/js"
  ]
tasknotes:
  title: "Task Notes"
  paths: [
    "/Users/benjaminhughes/Dropbox/Todoist"
  ]
